body {
    background-color: #151515;
    background-size: 40px 40px;
    background-image: 
    linear-gradient(to right, #252525 1px, transparent 1px),
    linear-gradient(to bottom, #252525 1px, transparent 1px);
    margin: 0;
    overflow: hidden;
    touch-action: manipulation;
}

#show_tile {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    pointer-events: none;
}

.action_pane, .score_pane {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    max-width: 272px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    gap: 10px;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.action_pane {
    top: 0;
    left: 0;
}

.score_pane {
    top: 0;
    right: 0;
    font-size: 1.2rem;
    max-width: unset;
}

.action_pane *, .score_pane * {
    pointer-events: all;
}

.main_row, .secondary_row {
    height: 40px;
    display: flex;
    gap: 10px;
}

.main_row {
    width: fit-content;
}

.secondary_row {
    width: 100%;
}

.button_holder {
    display: flex;
    height: fit-content;
    width: fit-content;
    background-color: #252525;
    font-weight: 900;
    transition: transform 0.4s;
}

.button_holder.score, .button_holder.tiles {
    width: fit-content;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.button_holder.score.red {
    color: rgb(255, 75, 75);
}

.button_holder button {
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    transition: background-color 0.1s, filter 0.3s;
}

.button_holder button.extended_button {
    width: calc(100% - 36px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    height: 25px;
    font-size: 1rem;
}

.button_holder button.warn {
    color: rgb(255, 75, 75);
}

.button_holder button.no_filter {
    filter: unset !important;
}

.button_holder.menu {
    width: calc(100% - 10px);
}

.button_holder.menu span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    user-select: none;
    font-size: 0.9rem;
}

.button_holder.menu.slider {
    display: flex;
    align-items: center;
    position: relative;
}

.button_holder.menu.slider input[type="range"] {
    display: block;
    height: 100%;
    flex: 1 1 auto;
    min-width: 0;
}

.button_holder.menu.slider button {
    width: 30px;
    height: 30px;
}

.button_holder.menu.extra {
    transform: translateX(calc(-100% - 15px));
    flex-direction: column;
    padding-bottom: 10px;
}

.button_holder.menu.extra.show {
    transform: unset;
}

span.number_stat {
    font-size: 1.0rem !important;
    position: relative;
}

span.number_stat.hide {
    display: none;
}

span.number_stat::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 4px;
    height: 32px;
    width: 32px;
    display: block;
    background-size: cover;
}

.number_stat[num="flag"]::before {
    background-image: url(minesweeper_assets/flag.png);
}

.number_stat[num="mine_red"]::before {
    background-image: url(minesweeper_assets/mine.png);
}

.number_stat[num="0"]::before {
    background-image: url(minesweeper_assets/0.png);
}

.number_stat[num="1"]::before {
    background-image: url(minesweeper_assets/1.png);
}

.number_stat[num="2"]::before {
    background-image: url(minesweeper_assets/2.png);
}

.number_stat[num="3"]::before {
    background-image: url(minesweeper_assets/3.png);
}

.number_stat[num="4"]::before {
    background-image: url(minesweeper_assets/4.png);
}

.number_stat[num="5"]::before {
    background-image: url(minesweeper_assets/5.png);
}

.number_stat[num="6"]::before {
    background-image: url(minesweeper_assets/6.png);
}

.number_stat[num="7"]::before {
    background-image: url(minesweeper_assets/7.png);
}

.number_stat[num="8"]::before {
    background-image: url(minesweeper_assets/8.png);
}

.button_holder button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button_holder button.menu_button {
    background-image: url(icon/lines.svg);
    background-size: 86%;
}

.button_holder button.flag {
    background-image: url(icon/flag_icon.png);
    background-size: 80%;
    filter: brightness(0) invert(1);
}

.button_holder button.move {
    background-image: url(icon/move.svg);
    background-size: 78%;
    filter: brightness(0) invert(1);
}

.button_holder button.center {
    background-image: url(icon/center.svg);
    background-size: 80%;
}

.button_holder button.save {
    background-image: url(icon/save.svg);
    background-size: 63%;
}

.button_holder button.load {
    background-image: url(icon/load.svg);
    background-size: 88%;
}

.button_holder button.reset {
    background-image: url(icon/reload.svg);
    background-size: 53%;
}

.button_holder {
    box-shadow: 2px 2px 4px 0px black;
    border-radius: 10px;
}

.content {
    position: absolute;
    overflow: visible;
    width: 800px;
    height: 800px;
    z-index: -1;
}

.content canvas {
    position: absolute;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 767px) {
    .action_pane {
        top: unset;
        bottom: 0;
        width: calc(100vw - 10px);
        margin: 10px;
        flex-direction: column-reverse;
    }  

    .main_row {
        height: fit-content;
    }

    .secondary_row {
        width: calc(100vw - 10px);
    }

    .main_row .menu_button {
        width: calc(25vw - 20px);
        height: calc(25vw - 20px);
    }

    .main_row .game_buttons {
        width: calc(75vw - 10px);
        height: calc(25vw - 20px);
        align-items: center;
        justify-content: space-evenly;
    }

    .game_buttons button {
        aspect-ratio: 1/1;
        height: calc(100% - 10px);
        width: calc(100% / 3 - 10px);
    }

    .button_holder.menu.slider {
        width: calc(100% - 100px);
    }
}