header {
    height: 55px;
    box-shadow: 0px 0px 10px 0px #000000;
    background-color: #202020;
    color: white;
    font-family: "Arial Black", 'Arial';
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
}

.headerLeft {
    height: calc(100% - 10px);
    width: 20%;
    padding: 5px;
    float: left;
}

.headerRight {
    height: calc(100% - 10px);
    width: fit-content;
    padding: 5px;
    float: right;
}

.headerRight button {
    aspect-ratio: 3.5;
    height: calc(100% - 5px);
    border-radius: 6px;
    border: 0;
    margin: 0;
    transition: filter 0.3s, box-shadow 0.3s, transform 0.3s;
    font-family: "Arial Black", 'Arial';
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.headerRight button:hover {
    transform: translateY(4px);
}

.headerLeft div {
    aspect-ratio: 1;
    height: calc(100% - 6px);
    cursor: pointer;
    float: left;
    transition: filter 0.3s;
    border: 3px solid;
}

#homeIcon {
    background-image: url(icon/kir.png);
    background-size: cover;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

#mobileDiscordButton {
    background-image: url(icon/discord.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(62, 72, 173, 0.5);
    border: 3px solid rgb(62, 72, 173);
    margin-left: 5px;
    display: none;
}

.headerLeft div:hover,
.headerRight button:hover {
    filter: brightness(80%);
}

#pageTitle {
    display: flex;
    height: 100%;
    width: calc(100% - 60px);
    float: right;
    align-items: center;
    font-size: 24px;
}

.homeButton {
    background-color: rgb(251, 155, 0);
    box-shadow: 0px 5px 0px 0px rgba(251, 155, 0, 0.7);
}

.homeButton:hover {
    box-shadow: 0px 2px 0px 0px rgba(251, 155, 0, 0.7)
}

.updatesButton {
    background-color: rgb(79, 173, 62);
    box-shadow: 0px 5px 0px 0px rgba(79, 173, 62, 0.7);
}

.updatesButton:hover {
    box-shadow: 0px 2px 0px 0px rgba(79, 173, 62, 0.7)
}

.accountsButton {
    background-color: rgb(160, 62, 173);
    box-shadow: 0px 5px 0px 0px rgba(160, 62, 173, 0.7);
}

.accountsButton:hover {
    box-shadow: 0px 2px 0px 0px rgba(160, 62, 173, 0.7);
}

.peopleButton {
    background-color: rgb(245, 66, 236);
    box-shadow: 0px 5px 0px 0px rgba(245, 66, 236, 0.7);
}

.peopleButton:hover {
    box-shadow: 0px 2px 0px 0px rgba(245, 66, 236, 0.7);
}

.discordButton {
    background-color: rgb(62, 72, 173);
    box-shadow: 0px 5px 0px 0px rgba(62, 72, 173, 0.7);
}

.discordButton:hover {
    box-shadow: 0px 2px 0px 0px rgba(62, 72, 173, 0.7)
}

@media screen and (max-width: 930px) {
    .headerLeft {
        aspect-ratio: unset;
        width: 95px;
        height: calc(100% - 10px);
    }

    #pageTitle {
        display: none;
    }

    .headerRight {
        width: calc(100% - 115px);
        text-align: left;
    }

    .headerRight button {
        aspect-ratio: unset;
        width: calc(33% - 3px);
    }

    .homeButton {
        display: none;
    }

    .discordButton {
        display: none;
    }

    #mobileDiscordButton {
        display: block;
    }
}