header {
    height: 75px;
    background-color: #101010;
    align-items: center;
    display: flex;
    margin-left: 7px;
    width: 100%;
    margin-bottom: 10px;
    position:relative;
}

header button {
    height: 80%;
    aspect-ratio: 3;
    border: 5px solid black;
    cursor: pointer;
    color: white;
    margin-left: 7px;
    transition: border 0.3s;
    font-size: 18px;
}

header button:hover {
    opacity: 0.8;
    border: 2px dashed white;
}

.discord {
    background-color: rgb(20,20,20);
    border: 5px solid rgb(62, 72, 173);
    left:calc(100% - 14px);
    box-sizing:border-box;
}

.accounts {
    background-color: #202020;
    border: 5px dashed #144e5e;
}

.home {
    background-color: #080808;
    border: 2px solid #050505;
    aspect-ratio: 1;
    background-image: url(icon/kir.png);
    background-size: contain;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}
