@keyframes breathe {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100vw;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 10px;
}

#project_placeholder, #search_placeholder, #last_search_placeholder, #tasklist_entry_placeholder {
    display: none;
}

.blurred_img_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(icon/blurred.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.glass {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
}

.darkglass {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border-radius: 12px;
}

.segment {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: opacity 0.4s;
}

.segment.no_top_pad {
    padding-top: unset;
}

.segment.hide {
    opacity: 0;
}

nav.sidebar {
    width: 275px;
    height: calc(100% - 20px);
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.sidebar_container.mid {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.sidebar_container.mid.hide {
    display: none;
}

.sidebar_container a.hide {
    display: none;
}

nav.sidebar.shift {
    transform: translateX(calc(-100% - 10px));
}

.sidebar a {
    text-decoration: none;
}

.traffic {
    position: relative;
    width: calc(100% - 30px);
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
    gap: 6px;
}

.traffic div {
    aspect-ratio: 1/1;
    height: 14px;
    width: 14px;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
}

.traffic div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.2s;
}

.traffic div:hover::after {
    opacity: 1;
}

.traffic div.red {
    background-color: rgb(252, 97, 86);
    border-color: rgb(223, 71, 68);
}

.traffic div.red::after {
    background-image: url(icon/exit_red.svg);
}

.traffic div.yellow {
    background-color: rgb(252, 190, 43);
    border-color: rgb(222, 159, 52);
}

.traffic div.yellow:after {
    background-image: url(icon/minimize_yellow.svg);
}

.traffic div.green {
    background-color: rgb(44, 201, 63);
    border-color: rgb(39, 170, 53);
}

.traffic div.green::after {
    background-image: url(icon/fullscreen_green.svg);
    background-size: 76%;
}

.traffic div.cog {
    position: absolute;
    right: 0;
    border: 0;
    margin: 1px;
    width: 18px;
    height: 18px;
    opacity: 0.7;
    background-size: cover;
    background-image: url(icon/settings.svg);
    transition: opacity 0.2s;
}

.traffic div.cog:hover, .traffic div.cog.active {
    opacity: 1;
}

.select {
    display: flex;
    gap: 3px;
    width: calc(100% - 10px);
    height: 50px;
    min-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 12px;
    transition: background-color 0.2s;
}

.select.hold {
    background-color: rgba(0, 0, 0, 0.15);
}

.select:hover {
    background-color: rgba(0, 0, 0, 0.07)
}

.select .icon {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    height: calc(100% - 10px);
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.select span {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.9;
    user-select: none;
}

.select .icon.stack {
    background-image: url(icon/stack.svg);
    background-size: 100%;
}

.select .icon.img {
    background-image: url(icon/image.svg);
    background-size: 95%;
}

.select .icon.home {
    background-image: url(icon/home.svg);
    background-size: 80%;
}

.select .icon.cube {
    background-image: url(icon/cube.svg);
    background-size: 90%;
}

.select .icon.search {
    background-image: url(icon/search.svg);
    background-size: 90%;
}

.select .icon.clipboard {
    background-image: url(icon/clipboard.svg);
    background-size: 98%;
}

.select .icon.link {
    background-image: url(icon/link.svg);
    background-size: 80%;
}

.sidebar hr {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    border: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar_footer {
    height: 35px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    user-select: none;
    position: relative;
}

.sidebar_footer span, .reset_defaults {
    height: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 8px;
}

.reset_defaults {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: border 0.2s;
    padding-left: 20px;
    padding-right: 20px;
}

.reset_defaults:hover {
    border: 1px solid white;
}

.sidebar_footer .hide {
    display: none;
}

span.category {
    width: 100%;
    height: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0.9;
}

.settings_switch {
    width: calc(100% - 20px);
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    position: relative;
}

.settings_switch span {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 0.95rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    user-select: none;
}

.settings_switch .colorpicker {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 999px;
    position: relative;
    transition: border 0.2s;
}

.colorpicker::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    background-image: url(icon/custom.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.2s;
}

.colorpicker:hover {
    border: 1px solid white;
}

.colorpicker:hover::after {
    opacity: 1;
}

.colorpicker input {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.settings_switch .switch {
    position: relative;
    width: 55px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 999px;
    cursor: pointer;
    touch-action: manipulation;
}

.shifter {
    pointer-events: none;
    height: 24px;
    width: 24px;
    margin: 2px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.15s
}

.switch.toggle .shifter {
    left: calc(100% - 28px);
}

.console {
    width: calc(100% - 20px);
    height: 38px;
    padding: 10px;
    margin: 10px;
    resize: none;
    outline: none;
    font-family: monospace;
    transition: border 0.2s;
}

.console:focus {
    border: 1px solid white;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 305px);
    height: 60px;
    margin: 10px;
    top: 0;
    right: 0;
    transition: width 0.3s;
}

header.shift {
    width: calc(100% - 20px);
}

.sidebar_button {
    aspect-ratio: 1/1;
    height: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(icon/lines.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.9;
    touch-action: manipulation;
}

.clock {
    height: calc(100% - 20px);
    margin: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
    user-select: none;
    display: flex;
    align-items: center;
}

.content {
    position: fixed;
    width: calc(100% - 305px);
    height: calc(100% - 90px);
    margin: 10px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    transition: width 0.3s, transform 0.3s;
}

.content.shift {
    width: calc(100% - 20px);
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.page.scroll {
    width: calc(100% - 10px);
    padding-right: 10px;
}

.page.projects.show .segment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.page.search.show {
    padding-bottom: 10px;
}

.page.search span, .page.tasklist span {
    margin-top: 0;
    margin-bottom: 5px;
}

.page.search h1, .page.tasklist h1, .page.projects h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.page.show {
    display: flex;
}

.about {
    padding-top: 10px;
    padding-bottom: 40px;

    animation-name: breathe;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background:
        repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            rgba(255, 255, 255, 0.06) 10px,
            rgba(255, 255, 255, 0.06) 20px),
        linear-gradient(to bottom,
            rgba(255, 255, 255, 0.12),
            rgba(255, 255, 255, 0.12));
    background-size: 85px 100%;
}

.content h1 {
    user-select: none;
    text-align: center;
}

.content span {
    width: 100%;
    height: 20px;
    padding-top: 25px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    user-select: none;
}

.image_holder {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image_holder div {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    transition: border 0.2s;
}

.image_holder div:hover {
    border: 2px solid white;
}

.javascript {
    background-image: url(icon/javascript.svg);
    background-size: 75%;
}

.html {
    background-image: url(icon/html.svg);
    background-size: 80%;
}

.css {
    background-image: url(icon/css.svg);
    background-size: 80%;
}

.lua {
    background-image: url(icon/lua.svg);
    background-size: 70%;
}

.java {
    background-image: url(icon/java.svg);
    background-size: 80%;
    display: none;
}

.cert {
    background-image: url(icon/certification1.svg);
    background-size: 110%;
}

.social_holder {
    width: 100%;
    height: 40px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 10px;
    justify-content: center;
}

.social_holder a {
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    flex-shrink: 0;
}

.social_holder a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
}

.social_holder a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    transition: border 0.2s;
}

.social_holder a:hover::after {
    border: 2px solid white;
}

.social_holder a.cashapp {
    background-image: url(icon/cashapp.svg);
    background-size: 58%;
}

.social_holder a.cashapp::before {
    background: linear-gradient(to bottom right, #0cdb62, #046b23);
}

.social_holder a.discord {
    background-image: url(icon/discord.svg);
    background-size: 85%;
}

.social_holder a.discord::before, .social_holder a.kirlol::before {
    background: linear-gradient(to bottom right, #5975da, #030d2f);
}

.social_holder a.github {
    background-image: url(icon/github.svg);
    background-size: 70%;
}

.social_holder a.github::before {
    background: linear-gradient(to bottom right, #15171a, #2b2e31)
}

.social_holder a.instagram {
    background-image: url(icon/instagram.svg);
    background-size: 73%;
}

.social_holder a.instagram::before, .social_holder a.snapshot::before {
    background: linear-gradient(to bottom left, #7455A2, #EC287C, #F07B2B, #F1C65C);
}

.social_holder a.youtube {
    background-image: url(icon/youtube.svg);
    background-size: 70%;
}

.social_holder a.youtube::before {
    background: linear-gradient(to top left, #ff2222, #9c0000);
}

.social_holder a.monkeytype {
    background-image: url(icon/monkeytype.svg);
    background-size: 80%;
}

.social_holder a.monkeytype::before {
    background: linear-gradient(to bottom right, #414141, #272727)
}

.social_holder a.site {
    padding-right: 10px;
    position: relative;
    width: fit-content;
    display: flex;
    text-decoration: none;
}

.social_holder a.site span {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.social_holder a.site div {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.social_holder a.site.snapshot div {
    background-image: url(icon/image.svg);
    background-size: 92%;
}

.social_holder a.site.kirlol div {
    background-image: url(icon/stock.svg);
    background-size: 84%;
}

.social_holder a.site.external::before {
    background: linear-gradient(to bottom right, #555555, #888888);
}

.social_holder a.site.external div {
    background-image: url(icon/friend.svg);
    background-size: 96%;
}

.featured {
    padding-top: 10px;
    padding-bottom: 10px;
}

.horizontal_pane {
    display: flex;
    gap: 10px;
    height: 280px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    overflow-x: auto;
}

.project_holder {
    aspect-ratio: 10/8;
    min-width: 300px;
    max-width: 400px;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.project_holder:hover video, .project_holder:hover img {
    opacity: 1;
}

.project_holder a {
    text-decoration: none;
}

.project_holder video, .project_holder img {
    aspect-ratio: 640/480;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
}

.project_holder .title {
    position: relative;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 30%;
}

.title .icon {
    aspect-ratio: 1/1;
    height: calc(100% - 20px);
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
}

.title span {
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.project_holder .info {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    font-weight: 600;
}

.project_holder .action {
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
}

.action a {
    aspect-ratio: 6/2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 30px);
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 999px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: border 0.2s;
}

.action a:hover {
    border: 2px solid white;
}

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    user-select: none;
    font-weight: 700;
}

.bookmarks, .tasklist_bar {
    position: relative;
    width: calc(100% - 20px);
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}

.bookmarks a {
    text-decoration: none;
    cursor: pointer;
}

.bookmarks.hidebookmarks .mark {
    display: none;
}

.bookmarks.lastsearch .last_search {
    display: flex;
}


.tasklist_bar span.input {
    height: 36px;
    min-width: 180px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    outline: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    transition: border 0.2s;
    cursor: text;
    position: relative;
    font-size: 14px;
}

.tasklist_bar span.input.empty {
    color: rgba(255, 255, 255, 0.7);
}

.tasklist_bar span.input::before {
    content: '';
    position: absolute;
    left: 8px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-image: url(icon/pencil.svg);
    opacity: 0;
    transition: opacity 0.2s;
}

.tasklist_bar span.input::after {
    content: 'Add to your tasks..';
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    left: 24px;
    top: 0;
    width: 172px;
    text-wrap: nowrap;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s;
}

.tasklist_bar span.input.empty::before {
    opacity: 0.7;
}

.tasklist_bar span.input.empty::after {
    opacity: 1;
}

.edit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    touch-action: manipulation;
    transition: border 0.2s, color 0.2s;
}

.edit:hover, .edit.active {
    border: 1px solid white;
    color: white;
}

.last_search {
    display: none;
    height: 36px;
    width: fit-content;
    padding-right: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: border 0.2s;
}

.last_search .icon {
    background-size: cover;
    background-image: url(icon/google.svg);
    height: 24px;
    width: 24px;
    margin: 5px;
    flex: 0 0 auto;
}

.last_search span {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    overflow: hidden;
    text-wrap: nowrap;
    padding: 0;
}

.bookmarks a:hover .mark {
    border: 1px solid white;
}

.mark {
    position: relative;
    height: 36px;
    width: 36px;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    touch-action: manipulation;
    transition: border 0.2s, opacity 0.2s;
}

.mark.add {
    background-image: url(icon/plus.svg);
    background-size: 80%;
    order: 99;
}

.mark.delete {
    background-image: url(icon/delete.svg);
    background-size: 80%;
    position: absolute;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mark.noload::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(icon/rotate.svg);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    animation: spin 3s linear infinite;
}

.mark.default {
    background-image: url(icon/globe.svg);
}

.mark:hover, .last_search:hover {
    border: 1px solid white;
}

.bookmarks.deletion .add {
    opacity: 0;
    pointer-events: none;
}

.bookmarks.deletion .mark {
    border: 1px solid rgba(255, 75, 75, 0.5);
}

.bookmarks.deletion .mark::after {
    content: unset;
}

.search_holder {
    width: calc(100% - 20px);
    min-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 10px;
    position: relative;
}

.service {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    height: 50px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: border 0.2s;
}

.service div {
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.search_box {
    outline: none;
    resize: none;
    flex: 1;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 49px;
    display: flex;
    align-items: center;
    transition: border 0.2s;
}

.search_go {
    display: block;
    height: 36px;
    width: 36px;
    margin: 7px;
    position: absolute;
    right: 0;
    transition: border 0.2s;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url(icon/send.svg);
}

.service:hover, .search_go:hover {
    border: 1px solid white;
}

.search_box:hover, span.input:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.service:focus, .search_go:focus, .search_box:focus, span.input:focus {
    border: 1px solid white;
}

.page.tasklist .holder, .page.tasklist .previous {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tasklist_add {
    height: 50px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}

.add_input {
    flex: 1;
    display: block;
    outline: none;
    padding-left: 10px;
    padding-right: 49px;
    font-weight: 600;
    position: relative;
}

.tasklist_button {
    position: absolute;
    right: 12px;
    display: block;
    height: 36px;
    width: 36px;
    margin: 7px;
    cursor: pointer;
    transition: border 0.2s;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon/plus.svg);
}

.tasklist_button:hover {
    border: 1px solid white;
}

.tasklist_entry {
    height: 50px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: opacity 0.4s, border 0.2s;
}

.tasklist_entry span {
    display: flex;
    width: calc(100% - 60px);
    height: 100%;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
}

.tasklist_entry span::before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon/clipboard.svg);
}

.page.tasklist.editing .tasklist_entry span {
    cursor: text;
    text-decoration: underline;
}

.page.tasklist.editing .tasklist_entry span::before {
    background-image: url(icon/pencil.svg);
    background-size: 80%;
}

.checkbox {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 6px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: border 0.2s;
}

.checkbox::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon/check.svg);
    opacity: 0;
    transition: opacity 0.2s;
}

.checkbox:hover::after {
    opacity: 0.3;
}

.tasklist_entry.removing .checkbox::after {
    background-image: url(icon/close.svg);
    background-size: 80%;
}

.checkbox:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tasklist_entry.resolved .checkbox::after {
    opacity: 1;
}

.tasklist_entry.resolved .checkbox {
    border: 1px solid white;
}

.tasklist_entry.resolved {
    border: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 0;
}

* {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: Arial;
}

@media screen and (max-width: 767px) {
    .blurred_img_bg {
        background-size: 200%;
    }

    .page.scroll {
        width: 100%;
        padding-right: unset;
    }

    nav.sidebar {
        transform: translateX(calc(-100% - 10px));
        height: calc(100% - 90px);
        top: unset;
        bottom: 0;
    }

    nav.sidebar.shift {
        width: calc(100% - 20px);
        transform: unset;
    }

    .content {
        width: calc(100% - 20px);
    }

    .content.shift {
        transform: translateX(calc(100% + 10px));
    }

    header {
        width: calc(100% - 20px);
    }

    .social_holder {
        height: 40px;
        justify-content: flex-start;
    }

    .social_holder a {
        height: 40px;
        width: 40px;
    }

    .image_holder {
        height: 50px;
    }

    .last_search {
        max-width: 90vw;
    }
}