body {
    background-color: #000;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-sizing: border-box;
}

h1, h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.blurred_img_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(https://37509b00898c4b81b49b04f3efbc6d3d.cdn.bubble.io/f1686127434693x506295944989022500/nlkm.svg);
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.content_holder {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: fixed;
}

.content_holder>* {
    pointer-events: all;
}

header {
    position: fixed;
    width: calc(100% - 307px);
    right: 0;
    margin: 10px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 12px;
    display: flex;
    transition: width 0.3s;
}

header.extend {
    width: calc(100% - 22px);
}

header .header_item_holder {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.clock_widget {
    height: 100%;
    width: fit-content;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    user-select: none;
    text-align: right;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    height: calc(100% - 20px);
    width: 275px;
    border-radius: 12px;
    margin: 10px;
    position: fixed;
    float: left;
    transition: transform 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar.closed {
    transform: translateX(calc(-100% - 10px));
}

.sidebar_dots_holder {
    width: calc(100% - 30px);
    height: 25px;
    display: flex;
    flex-direction: row;
    margin: 15px;
    margin-bottom: 0px;
}

.sidebar_dots_holder div {
    aspect-ratio: 1/1;
    height: calc(100% - 12px);
    border-radius: 100%;
    margin: 6px;
    cursor: pointer;
}

.dot1 {
    background-color: #fc6156;
}

.dot2 {
    background-color: #fcbe2b;
}

.dot3 {
    background-color: #2cc93f;
}

.button_bar {
    width: calc(100% - 10px);
    height: 50px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
}

.button_bar:hover,
.constant_hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.navigation {
    text-decoration: none;
}

.button_bar .icon {
    aspect-ratio: 1/1;
    height: calc(100% - 10px);
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    opacity: 0.8;
}

.button_bar_text {
    flex: 1;
    font-size: 16px;
    display: flex;
    align-items: center;
    transform: translate(4px);
    user-select: none;
}

.stack {
    background-image: url(icon/stack.svg);
    background-size: 100%;
}

.home {
    background-image: url(icon/home.svg);
    background-size: 85%;
}

.project {
    background-image: url(icon/project.svg);
    background-size: 100%;
}

.linked {
    background-image: url(icon/linked.svg);
    background-size: 100%;
}

.search {
    background-image: url(icon/search.svg);
    background-size: 88%;
}

.sidebar hr {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    height: 1px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar .link_header {
    display: block;
    width: 100%;
    height: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    user-select: none;
}

.right_sidebar {
    position: fixed;
    float: right;
    right: 0;
    margin: 10px;
    top: 72px;
    width: 50px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.right_sidebar div {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: border 0.2s;
}

.right_sidebar div:hover {
    border: 1px solid white;
}

.content {
    right: 65px;
    top: 77px;
    width: calc(100% - 365px);
    height: calc(100% - 92px);
    min-height: 50%;
    position: fixed;
    transition: width 0.3s;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.content.extend {
    width: calc(100% - 80px);
}

.content.scroll_padding {
    padding-right: 10px;
}

.content.scroll_padding .page {
    width: calc(100% - 10px)
}

.page {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
}

.project_page {
    box-sizing: border-box;
    border-radius: 12px;
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.project_list_holder {
    width: 100%;
    height: 100%;
    transform: translateY(-20px);
}

.project_list_holder a {
    text-decoration: none;
}

.project_entry {
    width: calc(100% - 20px);
    height: 70px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    transition: border 0.3s;
    display: flex;
}

.project_entry:hover {
    border: 1px solid white;
}

.project_entry .icon {
    flex: 0 0 auto;
    aspect-ratio: 1/1;
    height: calc(100% - 10px);
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.13);
    box-sizing: border-box;
    border-radius: 12px;
    margin-right: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.project_entry span {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 24px;
}

.project_seperator {
    width: calc(100% - 20px);
    height: 25px;
    display: flex;
    margin-left: 10px;
    padding-top: 20px;
}

.project_seperator span {
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    transform: translateX(-3px);
    color: rgba(255, 255, 255, 0.7);
}

.project_seperator hr {
    flex: 1;
    border: 0;
    margin: 0;
    margin-top: 10px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: black 2px 2px 4px
}

.project_entry.aplus_project .icon {
    background-image: url(icon/aplus.png);
    background-size: 100%;
}

.project_entry.connections_project .icon {
    background-image: url(icon/connections.png);
    background-size: 90%;
}

.project_entry.calculator_project .icon {
    background-image: url(icon/calculator.svg);
    background-size: 90%;
}

.project_entry.flappy_project .icon {
    background-image: url(icon/flappy.png);
    background-size: 90%;
}

.project_entry.minesweeper_project .icon {
    background-image: url(icon/flag.png);
    background-size: 80%;
}

.project_entry.snake_project .icon {
    background-image: url(icon/snake.png);
    background-size: 90%;
}

.project_entry.wordle_project .icon {
    background-image: url(icon/wordle.png);
    background-size: 90%;
}

.search_page {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    height: auto;
    width: 100%;
    min-height: 100%;
    border-radius: 12px;
}

.search_holder {
    margin: 10px;
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    position: relative;
}

.search_holder .icon {
    flex: 0 0 auto;
    height: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    border-radius: 12px;
}

.search_holder.google .icon {
    background-image: url(icon/google.svg);
    background-size: 80%;
}

.search_holder.duckduckgo .icon {
    background-image: url(icon/duckduckgo.svg);
    background-size: 80%;
}

.search_holder.brave .icon {
    background-image: url(icon/brave.svg);
    background-size: 80%;
}

.search_holder.bing .icon {
    background-image: url(icon/bing.svg);
    background-size: 80%;
}

.search_holder.ecosia .icon {
    background-image: url(icon/ecosia.svg);
    background-size: 80%;
}

.search_holder.wiki .icon {
    background-image: url(icon/wikipedia.svg);
    background-size: 80%;
}
.search_holder.yandex .icon {
    background-image: url(icon/yandex.svg);
    background-size: 80%;
}

.search_holder.youtube .icon {
    background-image: url(icon/youtube.svg);
    background-size: 80%;
}

.search_holder.stackoverflow .icon {
    background-image: url(icon/stackoverflow.svg);
    background-size: 80%;
}

.search_holder.gh .icon {
    background-image: url(icon/github.svg);
    background-size: 80%;
}

.search_holder.reddit .icon {
    background-image: url(icon/reddit.svg);
    background-size: 80%;
}

.search_holder.twitter .icon {
    background-image: url(icon/twitter.png);
    background-size: 85%;
}

.search_holder.archive .icon {
    background-image: url(icon/archive.svg);
    background-size: 69%;
}

.search_holder.webster .icon {
    background-image: url(icon/webster.svg);
    background-size: 91%;
}

.search_holder.urban .icon {
    background-image: url(icon/urban.svg);
    background-size: 80%;
}

.search_holder .search_box {
    width: 100%;
    height: 50px;
    display: block;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

.search_holder .search_go {
    display: block;
    position: absolute;
    margin: 5px;
    height: 40px;
    width: 40px;
    right: 0;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-image: url(icon/send.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: border 0.2s;
}

.search_holder .search_go:hover {
    border: 1px solid white;
}

.about_me {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.about_me span {
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.language {
    max-width: 300px;
    width: 100%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.language div {
    aspect-ratio: 1/1;
    height: 100%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    border-radius: 12px;
    transition: border 0.2s;
}

.language div:hover {
    border: 2px solid white;
}

.projects_holder {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    border-radius: 12px;
    padding-bottom: 20px;
}

.project_grid {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.project_frame {
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.project_frame video {
    min-width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s;
    display: hidden;
}

.project_frame video:hover {
    opacity: 0.5;
    display: block;
}

.project_frame_top {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project_header {
    height: calc(40% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    pointer-events: none;
}

.project_icon {
    aspect-ratio: 1/1;
    height: 100%;
    flex: 0 0 auto;
    border-radius: 12px;
    background-color: #262626;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
    margin-right: 24px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 500;
    user-select: none;
}

.project_title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 26px;
    user-select: none;
    color: white;
    z-index: 500;
}

.project_about {
    flex: 1;
    width: calc(100% - 20px);
    height: fit-content;
    margin: 10px;
    display: flex;
    padding-top: 13px;
    align-items: top;
    text-align: center;
    user-select: none;
    font-size: 17px;
    color: white;
    z-index: 500;
    pointer-events: none;
}

.project_frame_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px -20px 5px;
    border-top: none;
}

.open_project {
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80%;
    width: 60%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: #262626;
    font-size: 18px;
    cursor: pointer;
    transition: border 0.2s;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
    z-index: 500;
    color: white;
}

.open_project:hover {
    border: 1px solid white;
}

.hamburger {
    flex: 0 0 auto;
    aspect-ratio: 1/1;
    height: 100%;
    background-image: url(icon/hamburger.svg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.8;
}

.lua {
    background-image: url(icon/lua.svg);
}

.js {
    background-image: url(icon/javascript.svg);
}

.html {
    background-image: url(icon/html.svg);
}

.css {
    background-image: url(icon/css.svg);
}

.cert1 {
    background-size: 115% !important;
    background-image: url(icon/certification1.svg);
}

.discord {
    background-image: url(icon/discord.svg);
}

.github {
    background-image: url(icon/github.svg);
}

.instagram {
    background-image: url(icon/instagram.svg);
}

.youtube {
    background-image: url(icon/youtube.svg);
}

.spotify {
    background-image: url(icon/spotify.svg);
}

.xbox {
    background-image: url(icon/xbox.svg);
}

.expand_accounts {
    background-image: url(icon/down.svg);
}

.aplus {
    background-image: url(icon/aplus.png)
}

.minesweeper {
    background-image: url(icon/flag.png);
    background-size: 70%;
}

.infinisweeper {
    background-image: url(icon/mine_red.png);
    background-size: 70%;
}

.wordle {
    background-image: url(icon/wordle.png);
    background-size: 70%;
}

.disabled {
    display: none;
}

.grayed {
    opacity: 0.7;
}

* {
    font-family: Arial;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 767px) {
    .blurred_img_bg {
        background-size: 130%;
    }

    .content.scroll_padding .page {
        width: 100%;
    }

    .sidebar {
        width: calc(100vw - 20px);
        height: calc(100% - 91px);
        top: 71px;
    }

    .right_sidebar {
        display: none;
    }

    .content {
        right: 5px;
        transition: transform 0.3s;
        height: calc(100% - 81px);
    }

    .content.extend {
        width: calc(100% - 20px)
    }

    .content.mobile {
        transform: translateX(calc(100% + 10px));
    }

    .content.mobile.extend {
        transform: translateX(0);
    }

    .language div {
        width: 20%;
        height: unset;
    }

    .content.scroll_padding {
        padding-right: 0px;
    }

    .project_frame {
        width: 83vw;
    }

    .project_about {
        font-size: 16px;
    }
}