.pds-notification-badge-content .pds-notification-badge-circle{
    background-color:#0066a5;
    text-align:center;
    min-width:24px;
    border-radius:9px;
    padding:3px 5px;
    line-height:12px
}
.pds-notification-badge-content .pds-notification-badge-circle.pds-has-count{
    color:#fff;
    font-weight:700;
    font-size:12px
}
.pds-notification-badge-content .pds-notification-badge-circle.pds-missing-notification-count{
    min-width:inherit;
    border-radius:50%;
    height:10px;
    width:10px
}
.pds-notification-badge-content.pds-is-elevated .pds-notification-badge-circle,.pds-notification-badge-content .pds-notification-badge-circle.pds-additional-styles{
    background-color:#d31727
}
pds-notification-badge{
    position:absolute;
    top:5px;
    right:5px;
    z-index:1
}
.pds-notification-badge-container{
    position:relative
}
pds-activity-feed-notification,pds-announce-text,pds-app-nav,pds-assignment-return-notification,pds-assignment-template-notification,pds-banner,pds-chat-quick-message,pds-checkbox-widget,pds-circular-progress,pds-class-block,pds-class-picker,pds-communication-notification,pds-date-picker-dialog,pds-date-widget,pds-dialog,pds-dynamic-select,pds-file-picker-widget,pds-global-create-menu,pds-help-menu,pds-icon,pds-loader,pds-notification-badge,pds-notification-indicator,pds-number-widget,pds-numbered-slider,pds-overlay-dropdown,pds-parsed-html-content,pds-progress-bar-widget,pds-radio-button-widget,pds-reporting-term-selector,pds-rich-text-editor,pds-search,pds-select-widget,pds-text-widget,pds-textarea-widget,pds-time-widget,pds-user-menu{
    display:block
}
pds-user-avatar{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex
}
pds-user-avatar pds-img{
    display:block
}
pds-app-switcher,pds-pop-over,pds-rich-text-display{
    display:inline-block
}
pds-icon{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    fill:#666;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
pds-icon svg{
    height:26px;
    width:26px;
    pointer-events:none
}
pds-app-nav{
    -webkit-box-flex:0;
    -ms-flex:0 0 110px;
    flex:0 0 110px
}
@media (max-width:768px){
    pds-app-nav{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-preferred-size:50px;
        flex-basis:50px;
        min-width:50px
    }
}
pds-app-switcher{
    height:100%
}
.pds-icon-sprite{
    display:none!important
}
