html, body {
  background-color:#36393F;
}

button {
  background-color:#2F3136;
}

.center {
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back {
  text-align:left;
  font-size:50px;
}

.invisible {
  visibility: hidden;
}

.bookmark {
  background:#FFFFFF;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  color:#FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
}