@font-face{
	font-family:Minecrafter;
	src:url(font.otf);
}

body{
	background-color:rgb(24, 30, 44);
}

table{
	border-collapse:collapse;
	width:50%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

td{
	border:1px solid #dddddd;
	padding:8px;
}

.curse {
	color:red;
}

.topnav {
  background-color: #0E1525;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color:rgb(23, 30, 46);
}

.topnav a.active {
  background-color: #2FC448;
  color: white;
}

*{
	font-family:Minecrafter;
	color:white;
	text-align:center;
	text-decoration: none;
}