body {
    background-color: #1E1E1E;
    margin: 0;
}

.placeholder {
    display: none !important;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #252525;
    border-bottom: 1px solid #303030;
    z-index: 3;
}

header button,
.file_actions button {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 40px;
    width: fit-content;
    padding-right: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 0;
    background: linear-gradient(to bottom right, #222222, #181818);
    color: rgba(255, 255, 255, 0.8);
    user-select: none;
    font-size: 1.05rem;
    transition: color 0.2s;
}

header button.square,
.file_actions button.square {
    width: 40px;
    padding: 0;
}

header button::before,
.file_actions button::before {
    content: '';
    aspect-ratio: 1/1;
    width: 34px;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: opacity 0.2s;
}

header button::after,
.file_actions button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: border 0.2s;
}

header button:hover,
.file_actions button:hover {
    color: white;
}

header button:hover::before,
.file_actions button:hover::before {
    opacity: 1;
}

header button:hover::after,
.file_actions button:hover::after {
    border: 2px solid white;
}

header button.open::before {
    background-size: 66%;
    background-image: url(icon/folder.svg);
}

header button.square::before,
.file_actions button.square::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header button.back::before {
    background-size: 80%;
    background-image: url(icon/arrow.svg);
    transform: translateX(-1px);
}

header button.next::before {
    background-size: 80%;
    background-image: url(icon/arrow.svg);
    transform: rotate(180deg) translateX(-1px);
}

header button.delete::before {
    background-size: 70%;
    background-image: url(icon/trash.svg);
}

header button.new_folder::before {
    background-size: 86%;
    background-image: url(icon/new_folder.svg);
}

header button.new_file::before {
    background-size: 80%;
    background-image: url(icon/new.svg);
}

header button.cut::before {
    background-size: 60%;
    background-image: url(icon/scissors.svg);
}

header button.copy::before {
    background-size: 60%;
    background-image: url(icon/copy.svg);
}

header button.paste::before {
    background-size: 60%;
    background-image: url(icon/paste.svg);
}

header button.settings::before {
    background-size: 54%;
    background-image: url(icon/cog.svg);
}

header button.hide {
    display: none;
}

header.showpaste button.paste {
    display: block;
}

nav.sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 280px;
    height: calc(100vh - 50px - 20px);
    padding: 10px;
    background-color: #1C1C1C;
    border-right: 1px solid #303030;
    z-index: 2;
    overflow-x: hidden;
}

nav.sidebar::-webkit-scrollbar {
    border-left: 1px solid #303030;
}

nav.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

nav.sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: #1C1C1C;
}

.list_file {
    position: relative;
    width: 100%;
    display: flex;
    gap: 6px;
    user-select: none;
}

.list_file * {
    pointer-events: none;
}

.list_file::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 16px;
    top: 50%;
    left: 0;
    background-color: #303030;
    transform: translateX(-100%);
}

.list_file.root::before {
    content: unset;
}

.list_file .icon {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.list_file .icon:before {
    width: 26px;
    height: 26px;
    font-size: 26px;
    text-align: center;
    margin: 2px;
}

.list_file.folder .icon {
    background-size: 79%;
    background-image: url(icon/folder.svg);
}

.list_file .icon.unknown {
    background-image: url(icon/file.svg);
    background-size: 80%;
}

.list_file span {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    transition: color 0.2s;
}

.list_file:hover .icon {
    opacity: 1;
}

.list_file:hover span {
    color: white;
}

.large_file {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s, background-color 0.2s;
}

.large_file.active {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05)
}

.large_file.cut {
    filter: brightness(60%);
}

.large_file * {
    pointer-events: none;
}

.large_file .icon {
    aspect-ratio: 1/1;
    width: 75%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%);
    transition: filter 0.2s;
}

.large_file canvas {
    transform: translateY(calc(-25px / 2));
    max-width: 100%;
    max-height: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 black;
    filter: brightness(80%);
    transition: filter 0.2s;
}

.large_file .play_icon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(icon/play.svg);
    opacity: 0.4;
}

.large_file.loaded_image .icon {
    display: none;
}

.large_file.loading .icon::before {
    content: '';
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(icon/spin.svg);
    opacity: 0.8;
    animation: spin 1.5s linear infinite;
}

.large_file .icon.unknown {
    background-image: url(icon/file.svg);
    background-size: 80%;
}

.large_file.nes .icon,
.list_file.nes .icon {
    background-image: url(icon/nes.ico) !important;
    background-size: 100% !important;
}

.large_file.nes .icon::after,
.list_file.nes .icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(icon/play.svg);
    background-size: 33%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s;
}

.large_file.nes:hover .icon::after,
.list_file.nes:hover .icon::after,
.large_file.nes.active .icon::after {
    opacity: 0.8;
}

.large_file .icon:before {
    font-size: 75px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.large_file.folder .icon {
    background-image: url(icon/folder.svg);
    background-size: 85%;
}

.large_file span {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    user-select: none;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s;
}

.large_file:hover .icon {
    filter: unset;
}

.large_file:hover span {
    color: white;
}

.target_list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-left: 20px;
}

.target_list::before {
    content: '';
    position: absolute;
    width: 3px;
    height: calc(100% - 13px);
    background-color: #303030;
    transform: translateX(-17px);
}

.content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 300px;
    top: 50px;
    width: calc(100vw - 300px);
    height: calc(100vh - 50px);
    z-index: 1;
}

.content.shift .file_explorer {
    width: calc(100% - 500px);
}

.content.shift .file_viewer {
    transform: unset;
}

.content:not(.shift) .file_viewer {
    pointer-events: none;
}

.file_explorer {
    flex: 1;
    padding: 10px;
    z-index: 4;
    overflow-y: auto;
}

.file_explorer::-webkit-scrollbar {
    border-left: 1px solid #303030;
}

.file_explorer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

.file_explorer.hide_scroll {
    scrollbar-width: none;
}

.file_viewer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 480px;
    height: calc(100% - 40px);
    top: 40px;
    right: 0;
    border-left: 1px solid #303030;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.2s;
}

.viewer_header {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #303030;
}

.file_icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file_icon::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.file_icon.unknown::before {
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    background-image: url(icon/file.svg);
    background-size: 73%;
}

.file_icon:before {
    font-size: 32px !important;
}

.file_name, .settings_name {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(100% - 6px);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 0);
    font-weight: 900;
    font-size: 1.2rem;
    outline: none;
    transition: border 0.2s;
}

.settings_name {
    display: none;
}

.content.settings_open .viewer_header .file_name {
    display: none;
}

.content.settings_open .viewer_header .file_size {
    display: none;
}

.content.settings_open .viewer_header .file_actions {
    display: none;
}

.content.settings_open .viewer_header .file_icon {
    animation: spin 6s linear infinite;
}

.content.settings_open .viewer_header .file_icon::after {
    content: '';
    background-size: 64%;
    background-image: url(icon/cog.svg);
    opacity: 0.8;
}

.content.settings_open .viewer_header .file_icon::before {
    content: unset;
}

.content.settings_open .viewer_header .settings_name {
    display: flex;
    transform: translateX(-8px);
}

.file_name:hover {
    border: 3px solid rgba(175, 0, 175, 0.5);
}

.file_name:focus {
    border: 3px solid rgb(175, 0, 175);
}

.file_size {
    display: flex;
    align-items: center;
    width: fit-content;
    height: calc(100% - 10px);
    user-select: none;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8)
}

.file_actions {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
    width: fit-content;
    height: 100%;
}

.file_actions button {
    height: 30px;
    padding-left: 2px;
    gap: 1px;
}

.file_actions button.square,
.file_viewer.shrink button {
    width: 30px !important;
    color: rgba(0, 0, 0, 0);
    transition: unset;
}

.file_viewer.shrink button::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.file_viewer:not(.editing) button.save,
.file_viewer:not(.editing) button.discard {
    display: none;
}

.file_viewer.shrink button.save::before {
    background-size: 62%;
}

.file_viewer.shrink button.discard::before {
    background-size: 84%;
}

.file_actions button.save::before {
    background-size: 58%;
    background-image: url(icon/save.svg);
}

.file_actions button.discard::before {
    background-size: 80%;
    background-image: url(icon/discard.svg);
}

.file_actions button.close::before {
    background-size: 80%;
    background-image: url(icon/close.svg);
}

.file_actions button.edit::before {
    background-size: 55%;
    background-image: url(icon/pencil.svg);
}

.file_viewer.editing button.edit::after {
    border: 2px solid white;
}

.file_viewer.editing button.edit::before {
    opacity: 1;
}

.viewer_content {
    flex: 1;
    overflow-y: auto;
}

#editor {
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
    user-select: none;
}

#editor .ace_gutter {
    background-color: #1C1C1C;
}

#editor .ace_gutter-active-line {
    background-color: #1C1C1C;
}

#editor .ace_active-line {
    background-color: #1C1C1C;
}

#editor .ace_scrollbar::-webkit-scrollbar {
    border-left: 1px solid #303030;
    border-top: 1px solid #303030;
}

#editor .ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

#editor.readonly .ace_cursor {
    display: none !important;
}

#editor * {
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}

.media {
    width: 100%;
    height: 100%;
}

.media_holder {
    width: calc(100% - 20px);
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.media_holder:has(img) {
    max-width: 60%;
}

.media_holder img,
.media_holder video {
    max-width: 100%;
}

.media_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.media_info span {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

iframe.document {
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
}

.nes_emulator {
    width: 100%;
    height: 100%;
    position: relative;
}

.nes_iframe_wrapper {
    position: relative;
    aspect-ratio: 256/240;
    width: calc(100% - 20px);
    margin: 10px;
}

.nes_iframe {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    overflow: hidden;
}

.controls_table {
    margin-left: auto;
    margin-right: auto;
}

.controls_table th {
    position: relative;
    font-size: 0.8rem;
}

.controls_table th::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 5px));
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(45%);
}

.controls_table th.nesicon::after {
    background-image: url(icon/nes.ico);
    background-size: 110%;
}

.controls_table th.dpad::after {
    background-image: url(icon/d-pad.svg);
    background-size: 110%;
}

.controls_table th.line::after {
    background-image: url(icon/linebutton.svg);
    background-size: 103%;
}

.controls_table th.circle::after {
    background-image: url(icon/circle.svg);
}

.file_viewer.dragging iframe.document {
    pointer-events: none;
}

.file_viewer:not(.canedit) .viewer_header .edit {
    display: none;
}

.viewer_content:not(.text) #editor {
    display: none;
}

.viewer_content:not(.document) iframe.document {
    display: none;
}

.viewer_content:not(.media) div.media {
    display: none;
}

.viewer_content:not(.nes) .nes_emulator {
    display: none;
}

.content:not(.settings) .settings_page {
    display: none;
}

.resize {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    z-index: 4;
    transform: translateX(-50%);
}

.segment {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.segment_header {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 30px;
    color: #606060;
    user-select: none;
}

.segment_header::after {
    content: '';
    height: 1px;
    flex: 1;
    background-color: #303030;
}

.content_header {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #1C1C1C;
    border-bottom: 1px solid #303030;
}

.path_button {
    display: flex;
    gap: 2px;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    user-select: none;
    transition: background-color 0.2s;
}

.path_button::after {
    content: '';
    background-image: url(icon/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 20px;
    filter: brightness(80%);
    transform: rotate(180deg) translateY(-1px);
}

.path_button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.select {
    position: absolute;
    background-color: rgba(0, 127, 255, 0.1);
    border: 1px solid rgba(0, 127, 255, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
}

.select.tx {
    transform: translateX(-100%);
}

.select.ty {
    transform: translateY(-100%);
}

.info_page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    pointer-events: none;
}

.info_page span {
    display: block;
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.info_page span.select_error {
    font-size: 1.3rem;
    font-weight: 900;
}

.info_page span.hide {
    display: none;
}

.info_page a {
    color: rgb(0, 135, 135);
    pointer-events: all !important;
}

.select.tx.ty {
    transform: translate(-100%, -100%);
}

.right_menu {
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 200px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    background-color: #151515;
    border: 1px solid #303030;
    z-index: 5;
    transform: translateY(-100%);
    transition: opacity 0.2s;
}

.right_menu hr {
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    height: 1px;
    width: 100%;
    background-color: #303030;
}

.right_menu.show {
    opacity: 1;
    pointer-events: all;
}

.right_menu button {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: calc(100% - 10px);
    border-radius: 8px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.2s;
}

.right_menu button::before {
    content: '';
    aspect-ratio: 1/1;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.right_menu button:after {
    display: flex;
    align-items: center;
    position: absolute;
    width: fit-content;
    padding-right: 15px;
    height: 100%;
    right: 0;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s;
}

.right_menu button.new_folder::before {
    background-image: url(icon/new_folder.svg);
    background-size: 80%;
}

.right_menu button.new_file::before {
    background-image: url(icon/new.svg);
    background-size: 74%;
}

.right_menu button.cut::before {
    background-image: url(icon/scissors.svg);
    background-size: 60%;
}

.right_menu button.copy::before {
    background-image: url(icon/copy.svg);
    background-size: 60%;
}

.right_menu button.paste::before {
    background-image: url(icon/paste.svg);
    background-size: 60%;
}

.right_menu button.delete::before {
    background-image: url(icon/trash.svg);
    background-size: 70%;
}

.right_menu button.cut::after {
    content: 'CTRL-X';
}

.right_menu button.copy::after {
    content: 'CTRL-C';
}

.right_menu button.paste::after {
    content: 'CTRL-V';
}

.right_menu button.delete::after {
    content: 'Del';
}

.right_menu button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.right_menu button::before:hover {
    opacity: 1;
}

.notification_holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    z-index: 6;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 280px;
    height: fit-content;
}

.notify {
    display: flex;
    gap: 10px;
    width: calc(100% - 20px);
    min-height: 40px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #303030;
    background-color: #151515;
}

.notify.hide {
    display: none;
}

.notify span.text {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
}

.notify::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.notify.loader::before {
    background-image: url(icon/spin.svg);
    animation: spin 1.5s linear infinite;
}

.notify.delete::before {
    background-image: url(icon/trash.svg);
}

.notify.rename::before {
    background-image: url(icon/rename.svg);
}

.notify.error::before {
    background-image: url(icon/error.svg);
    filter: brightness(0) invert(1);
}

.notify.success::before {
    background-image: url(icon/check.svg);
}

.audio_player {
    display: flex;
    gap: 5px;
    align-items: center;
    position: fixed;
    margin: 10px;
    padding: 5px;
    left: 300px;
    bottom: 0;
    height: 65px;
    width: fit-content;
    background-color: #1C1C1C;
    box-sizing: border-box;
    border: 1px solid #303030;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    transform: translateY(calc(100% + 10px));
    transition: transform 0.2s;
    z-index: 6;
}

.audio_player.show {
    transform: unset;
}

.audio_player .canvas_holder {
    aspect-ratio: 1/1;
    height: calc(100% + 10px);
    transform: translateX(-5px);
    outline: none;
    box-sizing: border-box;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    overflow: hidden;
}

.audio_player .canvas_holder canvas, .audio_player .canvas_holder::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.audio_player .canvas_holder::before {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

.audio_player .title {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;
    text-wrap: nowrap;
    overflow: hidden;
    opacity: 0.8;
}

.audio_player .duration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    font-size: 1.0rem;
    font-weight: 900;
    text-wrap: nowrap;
    opacity: 0.8;
}

.audio_player .square {
    aspect-ratio: 1/1;
    height: 60%;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.audio_player .square:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.audio_player .square::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
}

.audio_player .square.before::after {
    background-image: url(icon/musicdouble.svg);
    background-size: 65%;
    transform: translate(-50%, -50%) rotate(180deg);
}

.audio_player .square.after::after {
    background-image: url(icon/musicdouble.svg);
    background-size: 65%;
}

.audio_player .square.pause::after {
    background-image: url(icon/musicpause.svg);
    background-size: 70%;
}

.audio_player .square.pause.play::after {
    background-image: url(icon/musicplay.svg);
    background-size: 68%;
}

.audio_player .square.volume {
    position: relative;
}

.audio_player .track {
    height: 3px;
    width: calc(100% - 64px);
    background-color: #303030;
    position: absolute;
    bottom: 0;
    right: 0;
}

.audio_player .track .track_player {
    position: relative;
    background-color: rgb(68, 143, 255);
    width: 30px;
    height: 100%;
    pointer-events: none;
}

.audio_player .track .track_player::after {
    content: '';
    position: absolute;
    background-color: rgb(68, 143, 255);
    transform: translate(50%, -50%);
    right: 0;
    top: 50%;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s;
}

.audio_player .track:hover .track_player::after, .audio_player .track.seeking .track_player::after {
    opacity: 1;
}

.audio_player .volume .volume_holder {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(calc(-100%));
    width: 100%;
    height: 100px;
    background-color: #1C1C1C;
    border: 1px solid #303030;
    box-sizing: border-box;
    cursor: default;
    opacity: 0;
    transition: opacity 0.2s;
}

.audio_player .volume:hover .volume_holder {
    opacity: 1;
}

.audio_player .volume .volume_holder .volume_bar {
    display: flex;
    align-items: flex-end;
    background-color: #303030;
    width: 3px;
    height: calc(100% - 10px);
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.audio_player .volume .volume_holder .volume_seek {
    width: 100%;
    height: 80%;
    background-color: rgb(68, 143, 255);
    pointer-events: none;
}

::-webkit-scrollbar {
    border-left: 1px solid #303030;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
}

@media screen and (max-width: 767px) {

    header button.new_folder,
    header button.delete {
        display: none;
    }

    nav.sidebar {
        transform: translateX(-100%);
    }

    .content {
        left: 0;
        width: 100%;
    }

    .file_explorer {
        left: 0;
    }
}