.page[page="code"] {
    overflow-x: hidden;
}

.folder-contents {
    position: relative;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.folder,
.folder-label {
    order: -1;
}

.file_sidebar_pane {
    display: flex;
    flex-wrap: nowrap;
}

.file_sidebar_pane .folder-contents::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: calc(100% - 11px);
    background-color: gray;
}

.file_sidebar_pane .folder-label,
.file_sidebar_pane .file-item {
    position: relative;
    display: flex;
    gap: 4px;
    height: 25px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.15s;
}

.file_sidebar_pane .folder-label:hover,
.file_sidebar_pane .file-item:hover {
    color: white;
}

.file_sidebar_pane .folder-label::before,
.file_sidebar_pane .file-item::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    opacity: 0.8;
    transition: opacity 0.15s;
    font-size: 20px;
}

.file_sidebar_pane .folder-label::before,
.file_sidebar_pane .file-item:not(.has-icon)::before {
    content: '';
}

.file_sidebar_pane .folder-label::before {
    background-image: url(../icon/folder.svg);
}

.file_sidebar_pane .file-item:not(.has-icon)::before {
    background-image: url(../icon/file.svg);
}

.file_sidebar_pane .folder-label:hover::before,
.file_sidebar_pane .file-item:hover::before {
    opacity: 1;
}

.file_sidebar_pane .folder-label::after,
.file_sidebar_pane .file-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translate(-100%, -50%);
    width: 8px;
    height: 1px;
    background-color: gray;
}

.file_explorer_pane {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px;
    transition: opacity 0.15s;
}

.view_text .file_explorer_pane {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.text_viewer_pane {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.view_text .text_viewer_pane {
    opacity: 1;
    white-space: pre;
    pointer-events: all;
    background: rgba(0, 0, 0, 0);
}

.close_text {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    transition: border 0.15s, opacity 0.15s;
}

.close_text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../icon/close.svg);
    transition: opacity 0.15s;
}

.view_text .close_text {
    opacity: 1;
}

.close_text:hover {
    border: 1px solid white;
}

.close_text:hover::after {
    opacity: 1;
}

.file_explorer_pane .folder-label,
.file_explorer_pane .file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.15s;
}

.file_explorer_pane .folder-label:hover,
.file_explorer_pane .file-item:hover {
    color: white;
}

.file_explorer_pane .folder-label::before,
.file_explorer_pane .file-item::before,
.file_explorer_pane .file-item img {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
    transition: opacity 0.15s;
    margin-bottom: 4px;
    order: -1;
    font-size: 75px;
}

.file_explorer_pane .folder-label::before {
    content: '';
}

.file_explorer_pane .file-item:has(img)::before {
    content: unset;
}

.file_explorer_pane .folder-label::before {
    background-image: url(../icon/folder.svg);
}

.file_explorer_pane .file-item:not(.has-icon)::before {
    background-image: url(../icon/file.svg);
}

.file_explorer_pane .folder-label:hover::before,
.file_explorer_pane .file-item:hover::before {
    opacity: 1;
}

.file_path_pane {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.file_path_pane .folder-label, .file_path_pane .file-item {
    display: flex;
    gap: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    transition: color 0.15s;
}

.file_path_pane .folder-label::after, .file_path_pane .file-item::after {
    content: '>';
}

.file_path_pane .folder-label:last-child::after, .file_path_pane .file-item:last-child::after {
    content: unset;
}

.file_path_pane .folder-label:hover, .file_path_pane .file-item:hover {
    color: white;
}