html, body {
    background-color: #101010;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game_holder {
    width: 100vh;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#game {
    width: fit-content;
    height: fit-content;
    min-width: 100vh;
    min-height: 100vh;
    position: absolute;
}

#info_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

#info_overlay input {
    pointer-events: all !important;
}

#info_overlay.left_data_list {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left_data_list span {
    display: block;
    width: fit-content;
    color: white;
    font-family: "Khula", Arial;
    font-weight: 700;
    margin: 5px;
    text-shadow: 2px 2px 4px black
}

.left_data_list span.bold {
    font-weight: 900;
}

.left_data_list span.chunk_bounds {
    display: inline-block;
}

.left_data_list span.invert {
    display: inline-block;
}

#button_holder {
    height: 75px;
    width: fit-content;
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: row;
}

#button_holder button {
    aspect-ratio: 1/1;
    height: calc(100% - 10px);
    box-sizing: border-box;
    display: block;
    position: relative;
    cursor: pointer;
    border: 0;
    border-radius: 12px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 5px;
    border-style: solid;
    transition: filter 0.7s;
}

#button_holder button.flagging {
    background-image: url(minesweeper_assets/flag.png);
    border-color: #a30f0f;
}

#button_holder button.flagging.active {
    filter: hue-rotate(130deg);
}

#button_holder button.movement {
    display: none;
}

#placeholder {
    display: none;
}

canvas {
    height: 512px;
    width: 512px;
    position: absolute;
    box-sizing: border-box;
    transition: filter 1s
}

canvas.borders {
    border: 1px solid red;
}

canvas.invert {
    filter: invert(1);
}

@font-face {
    font-family: 'minesweeper';
    src: url('minesweeper_assets/minesweeper_font.otf') format('otf');
}