.content {
    .segment.codebase_header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 35px;
        padding: 5px;
        min-height: unset;

        button {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 25px;
            font-weight: 700;
            cursor: pointer;
        }

        button.root::after {
            content: '';
            display: block;
            height: 18px;
            width: 18px;
            background-size: cover;
            background-image: url(../icon/favicon.png);
            order: -1;
        }
    }

    /* the vertical file explorer (sidebar) and all the elements inside of it */
    .segment.codebase_sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        height: calc(100% - 45px);
        min-height: unset;
        width: 280px;
        overflow-y: auto;

        .entry {
            display: flex;
            flex-direction: column;
            width: fit-content;

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: fit-content;
                height: 30px;
                gap: 4px;
                padding-right: 10px;
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0);
                transition: border 0.15s;
            }

            button:hover {
                border: 1px solid rgba(255, 255, 255, 0.1);
            }

            button::before {
                opacity: 0;
                transition: opacity 0.15s;
            }

            button:hover::before {
                opacity: 1;
            }

            button::after {
                content: '';
                height: 30px;
                width: 30px;
                order: -1;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .entry.folder {
            order: -1;

            >button::after {
                background-image: url(../icon/folder.svg);
                background-size: 65%;
            }

            >.children {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                overflow-y: auto;
                border-left: 2px solid rgba(255, 255, 255, 0.1)
            }

            >.children.hidden {
                display: none;
            }
        }

        .entry.file {
            >button::after {
                background-image: url(../icon/file.svg);
                background-size: 65%;
            }
        }
    }

    /* everything in the main element of the codebase */
    /* contains large labels for the elements */
    .segment.codebase_main {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(100% - 290px);
        height: calc(100% - 45px);
        min-height: unset;
        overflow-y: auto;

        .entry {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 90px;
            height: 90px;
            cursor: pointer;
            transition: background-color 0.15s;
        }

        .entry:hover {
            background-color: rgba(255, 255, 255, 0.025);
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .entry::before {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 65px;
            height: 65px;
            background-position: center;
            background-repeat: no-repeat;
            font-size: 55px;
        }

        .entry.folder {
            order: -1;
        }

        .entry.folder::before {
            background-size: 80%;
            background-image: url(../icon/folder.svg);
        }

        .entry.file.none::before {
            background-size: 70%;
            background-image: url(../icon/file.svg);
        }

        .entry::after {
            content: attr(name);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 25px;
            font-size: 0.8rem;
        }

        .entry:not(.has_icon):not(.folder) button::after {
            background-image: url(../icon/file.svg);
            background-size: 70%;
        }

        .entry:not(.has_icon)::before {
            content: '';
        }
    }

    .segment.codebase_main:empty::after {
        content: 'No folder is currently selected.';
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        box-sizing: border-box;
    }

    .segment.codebase_main.loading:empty::after {
        content: 'Loading...';
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .content {

        .segment.codebase_header,
        .segment.codebase_sidebar,
        .segment.codebase_main {
            position: unset;
        }

        .segment.codebase_sidebar,
        .segment.codebase_main {
            flex: 1;
            width: 100%;
        }
    }
}