/* generic icon row */
.icon_row {
    display: flex;
    justify-content: center;
    gap: 8px;

    i,
    a {
        position: relative;
        height: 100%;
        aspect-ratio: 1/1;
        background-image: var(--icon-url);
        background-size: var(--icon-size, 100%);
        background-repeat: no-repeat;
        background-position: center;
    }

    a {
        border-radius: 8px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--icon-url);
        background-size: var(--icon-size, 100%);
    }

    a::before,
    a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 8px;
    }

    a::before {
        background: var(--gradient);
        z-index: -1;
    }

    a::after {
        border: 2px solid rgba(0, 0, 0, 0.5);
        transition: border 0.15s;
    }

    a:hover::after {
        border: 2px solid white;
    }
}

.icon_row.block {
    flex-wrap: wrap;
    max-width: 90%;

    i {
        position: relative;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        overflow: hidden;
        transition: border 0.15s;
    }

    i:hover {
        border: 2px solid rgba(255, 255, 255, 0.05);
    }

    i:hover::before {
        filter: invert(0.5);
    }
}

/* icon row as a segment */
.content {
    .segment.icon_row {
        flex-direction: row;
        min-height: 40px;
    }
}