.notifications {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    right: 0;
    bottom: 0;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    max-height: 600px;
    overflow-y: hidden;
    pointer-events: none;
    z-index: 999;

    * {
        text-shadow: none;
    }

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        width: fit-content;
        height: fit-content;
        min-width: 200px;
        min-height: 40px;
        padding: 5px;
        border-radius: 12px;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        opacity: 0.8;
        font-weight: 700;
        box-shadow: 0 0 4px 0 black;
        transition: opacity 0.5s;
    }

    span::before {
        content: '';
        aspect-ratio: 1/1;
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    span.success {
        background: linear-gradient(to bottom right, #C7E07F, #ABD25E);
        border-color: #3A5310;
        color: #3A5310;
    }

    span.success::before {
        background-image: url(../icon/checkmark.svg);
        filter: brightness(0) saturate(100%) invert(25%) sepia(17%) saturate(2060%) hue-rotate(40deg) brightness(98%) contrast(88%);
    }

    span.error {
        background: linear-gradient(to bottom right, #F26160, #DF3F40);
        border-color: #93100C;
        color: #93100C;
    }

    span.error::before {
        background-image: url(../icon/error.svg);
        filter: brightness(0) saturate(100%) invert(10%) sepia(57%) saturate(5657%) hue-rotate(354deg) brightness(104%) contrast(100%);
    }

    span.stock {
        background: linear-gradient(to bottom right, #DAE4EA, #BBCED2);
        border-color: #474E52;
        color: #474E52;
    }

    span.stock::before {
        background-image: url(../icon/info.svg);
        background-size: 80%;
        filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(263%) hue-rotate(158deg) brightness(95%) contrast(95%);
    }

    span.warn {
        background: linear-gradient(to bottom right, #FFF0BE, #FFE27E);
        border-color: #82732A;
        color: #82732A;
    }

    span.warn::before {
        background-image: url(../icon/warning.svg);
        background-size: 65%;
        filter: brightness(0) saturate(100%) invert(45%) sepia(14%) saturate(1626%) hue-rotate(12deg) brightness(95%) contrast(96%);
    }

    span.info {
        background: linear-gradient(to bottom right, #CFECFE, #9BD8FE);
        border-color: #0369A1;
        color: #0369A1;
    }

    span.info::before {
        background-image: url(../icon/info_blue.svg);
        background-size: 80%;
        filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(2234%) hue-rotate(184deg) brightness(96%) contrast(98%);
    }

    span.fade {
        pointer-events: none;
        opacity: 0;
    }
}