.page.planner {

    .segment.tasks,
    .segment.calender {
        position: absolute;
        top: 40px;
        width: calc(50% - 5px);
        height: calc(100% - 40px);
    }

    .segment.tasks {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        left: 0;

        .group {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            height: fit-content;

            .task {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                gap: 5px;
                font-weight: 700;
                transition: opacity 0.5s;

                .resolve_button {
                    display: block;
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                    order: -1;
                    cursor: pointer;
                }

                .resolve_button::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../icon/check.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 85%;
                    opacity: 0;
                    transition: opacity 0.15s;
                }

                .resolve_button:hover::after {
                    opacity: 0.8;
                }
            }

            .task.resolve {
                opacity: 0;
            }
        }

        .group::before {
            content: attr(label);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            font-weight: 700;
            color: white;
        }
    }

    .segment.calender {
        right: 0;
    }
}