.search_holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.search_entry {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    min-height: 45px;
    box-sizing: border-box;
}

.search_entry a.logo {
    aspect-ratio: 1/1;
    height: 100%;
    cursor: pointer;
    background-size: var(--icon-size, 100%);
    background-image: var(--icon-url);
    background-position: center;
    background-repeat: no-repeat;
    order: -1;
}

.search_holder input {
    display: flex;
    flex: 1;
    outline: none;
    padding: 10px;
    font-weight: 700;
    order: -1;
}

.search_holder button {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 10px);
    aspect-ratio: 1/1;
    margin: 5px;
    cursor: pointer;
}

.search_holder button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url(../icon/send.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}