.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px !important;
    padding-bottom: 35px !important;
    transition: left 0.5s, transform 0.5s;
}

.mac_button_row {
    display: flex;
    position: relative;
    gap: 10px;
    height: 16px;
    width: calc(100% - 16px);
    margin: 12px;
}

.mac_button_row div {
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.15s;
}

.mac_button_row div:hover {
    filter: brightness(0.8);
}

.mac_button_row div.red {
    background-color: rgb(252, 97, 86);
    border-color: rgb(223, 71, 68);
}

.mac_button_row div.yellow {
    background-color: rgb(252, 190, 43);
    border-color: rgb(222, 159, 52);
}

.mac_button_row div.green {
    background-color: rgb(44, 201, 63);
    border-color: rgb(39, 170, 53);
}

.mac_button_row div.settings {
    position: absolute;
    right: 0;
    background-image: url(../icon/settings.svg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    opacity: 0.7;
    transform: scale(1.15);
}

.inline_pane.sidebar_pane {
    align-items: center;
    gap: 0;
    transform: translateX(-5px);
}

.sidebar_button {
    display: flex;
    height: 40px;
    width: calc(100% - 20px);
    gap: 5px;
    padding: 5px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
}

.sidebar_button .icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar_button .text {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1em;
    font-weight: 700;
}

.sidebar_button:hover,
.sidebar_button.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar_break {
    margin: 0;
    padding: 0;
    border: 0;
    width: calc(100% + 10px);
    min-height: 1px;
    transform: translateX(-5px);
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar_footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 25px;
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar_footer .footer_entry {
    display: flex;
    height: calc(100% - 2px);
    width: fit-content;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 0.85rem;
}

.settings_pane {
    overflow-y: auto;
    overflow-x: hidden;
}

.settings_entry {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    min-height: 40px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.settings_entry div {
    position: relative;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.settings_switch {
    height: 30px;
    width: 55px;
    padding: 2px !important;
    border-radius: 999px !important;
    cursor: pointer;
    transition: border 0.15s;
}

.settings_dot {
    position: absolute;
    left: 2px;
    height: 24px;
    width: 24px;
    border-radius: 999px !important;
    transition: left 0.15s;
}

.settings_switch.active .settings_dot {
    left: calc(100% - 27px)
}

.settings_color_picker {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50% !important;
    transition: border 0.15s;
    cursor: pointer;
}

.settings_color_picker::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../icon/custom.svg);
    opacity: 0.3;
    transition: opacity 0.15s;
}

.settings_color_picker:hover::after {
    opacity: 1;
}

.settings_color_picker:hover {
    border: 1px solid white;
}

.settings_color_picker input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
}