.social_holder {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: row !important;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 10px;
    justify-content: center;
}

.social_holder a {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    flex-shrink: 0;
    outline: none;
}

.social_holder a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--gradient);
}

.social_holder a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    transition: border 0.2s;
    background-image: var(--icon-url);
    background-size: var(--icon-size);
    background-position: center;
    background-repeat: no-repeat;
}

.social_holder a:hover::after, .social_holder a:focus::after {
    border: 2px solid white;
}

.social_holder a.site {
    padding-right: 10px;
    position: relative;
    width: fit-content;
    display: flex;
    text-decoration: none;
}

.social_holder a.site span {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.social_holder a.site div {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.social_holder a.site.snapshot div {
    background-image: url(icon/image.svg);
    background-size: 92%;
}

.social_holder a.site.kirlol div {
    background-image: url(icon/stock.svg);
    background-size: 84%;
}

.social_holder a.site.external::before {
    background: linear-gradient(to bottom right, #555555, #888888);
}

.social_holder a.site.external div {
    background-image: url(icon/friend.svg);
    background-size: 96%;
}