body {
    background-color: #101010;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    color: #EE2E24
}

p {
    text-align: center;
}

#placeholder {
    display: none;
}

.learn,
.quiz {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.quiz {
    display: flex;
    flex-direction: column;
}

.learn.hide {
    display: none;
}

.quiz.hide {
    display: none;
}

.startQuiz, .scoreQuiz {
    aspect-ratio: 4/1;
    display: block;
    background-color: #EE2E24;
    border-radius: 10px;
    border: 0;
    width: 40%;
    font-size: 26px;
    cursor: pointer;
    box-shadow: black 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.2s;
}

.scoreQuiz {
    order: 999;
}

.startQuiz:hover {
    opacity: 0.8;
}

.question.disabled {
    pointer-events: none;
}

.question {
    background-color: #202020;
    border: 2px solid #252525;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
    margin: 10px;
    margin-bottom: 30px;
}

.questionText {
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
}

.questionAnswer {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #252525;
    background-color: #101010;
    cursor: pointer;
    transition: border 0.3s;
}

.questionAnswer:hover {
    border: 2px solid #EE2E24;
}

.questionAnswer.correct {
    border: 2px solid green;
}

.questionAnswer.incorrect {
    border: 2px solid red;
}

* {
    color: white;
    font-family: Arial;
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 767px) {
    .quiz {
        width: 90vw;
    }

    .learn {
        width: 90vw;
    }
}
