body {
    margin: 0;
    overflow: hidden;
    background-color: #222222;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55px;
    box-sizing: border-box;
    background-color: #151515;
    box-shadow: black 0 2px 6px;
    z-index: 999;
}

.right_header {
    height: 100%;
    width: fit-content;
    min-width: 100px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.saving {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.save_button {
    height: calc(100% - 16px);
    width: calc(50% - 10px);
    margin: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 0.2s, color 0.2s;
    user-select: none;
}

.save_button:hover {
    border: 3px solid white;
    color: white;
}

.controls {
    height: 100%;
    width: fit-content;
    min-width: 10px;
    display: flex;
    margin-right: 5px;
}

.controls div {
    aspect-ratio: 1/1;
    margin: 7px;
    height: calc(100% - 14px);
    border-radius: 50%;
    transition: background-color 0.2s;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.controls div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.undo {
    background-image: url(icon/undo.svg);
    background-size: 80%;
}

.redo {
    background-image: url(icon/redo.svg);
    background-size: 80%;
}

.settings {
    background-image: url(icon/settings.svg);
    background-size: 100%;
}

nav.sidebar {
    width: 300px;
    height: calc(100vh - 55px);
    position: fixed;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: #171717;
    z-index: 998;
    overflow-y: auto;
}

.sidebar hr {
    border: 0;
    margin: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
}

.select {
    width: calc(100% - 10px);
    height: 40px;
    display: flex;
    margin: 5px;
    gap: 5px;
    margin-bottom: 0;
}

.select div {
    width: 50%;
    height: calc(100% - 5px);
    transition: background-color 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 900;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    user-select: none;
    position: relative;
}

.select div.on::after {
    content: '';
    transform: opacity 0.2s;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
}

.select div:hover,
.select div.on {
    background-color: rgba(255, 255, 255, 0.1);
}

.type_header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 60%;
    height: 30px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 900;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 999px;
    user-select: none;
}

.text_edit_holder, .image_edit_holder {
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.url_box {
    width: calc(100% - 8px);
    height: 40px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    display: block;
    outline: none;
    border: 0;
    color: white;
    font-size: 1rem;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 5px;
}

.image_size_edit {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;
}

.image_size_edit input {
    display: block;
    height: 100%;
    width: 50%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    outline: none;
    border: 0;
    color: white;
    font-size: 1rem;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.image_position_edit {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image_position_edit div {
    aspect-ratio: 1/1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.shift_left {
    background-size: 100%;
    background-image: url(icon/shift_left.svg);
}

.shift_center {
    background-size: 90%;
    background-image: url(icon/shift_center.svg);
}

.shift_right {
    background-size: 100%;
    background-image: url(icon/shift_right.svg);
}

.text_style_holder {
    width: 100%;
    height: 26px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.text_style_holder div.color {
    flex: 0 0 auto;
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
}

.text_style_holder div.color input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
}

.size_holder {
    flex: 1;
    gap: 5px;
    display: flex;
    justify-content: space-between;
}

.size_holder div {
    width: calc(33.33% - 5px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.025);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_edit_holder.hide,
.type_header.hide,
.image_edit_holder.hide {
    display: none;
}

.text_edit {
    width: calc(100% - 10px);
    height: 100px;
    outline: none;
    resize: none;
    display: block;
    border: 0;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.025);
    color: rgba(255, 255, 255, 0.7);
}

.element_select {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.element_select .element {
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s;
}

.element_select .element:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.element .icon {
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.icon.text {
    background-size: 40%;
    background-image: url(icon/text.svg);
}

.icon.image {
    background-size: 35%;
    background-image: url(icon/image.svg);
}

.icon.embed {
    background-size: 45%;
    background-image: url(icon/embed.svg);
}

.icon.link {
    background-size: 50%;
    background-image: url(icon/link.svg);
}

.element .name {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
    user-select: none;
}

.content {
    position: fixed;
    width: calc(100vw - 300px);
    height: fit-content;
    max-height: calc(100vh - 55px);
    top: 55px;
    left: 0;
    background-color: #252525;
    overflow-y: auto;
}

.site_name {
    display: flex;
    height: 100%;
    width: 280px;
    float: left;
}

.home {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(icon/home.svg);
    transition: background-color 0.2s;
}

.home:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.name {
    flex: 1;
    width: fit-content;
    height: calc(100% - 10px);
    margin: 5px;
    margin-left: 0;
    border: 0;
}

.name span {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1rem;
    transition: border 0.2s;
}

.name span:hover {
    border: 1px solid gray;
}

.name span:focus {
    border: 2px solid rgb(63, 81, 181);
}

.edit {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.2s;
    user-select: none;
}

.edit:hover {
    border: 1px solid gray;
}

.edit.active {
    border: 2px solid rgb(63, 81, 181);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}